{% extends 'base.html.twig' %}

{% block title %}Accueil admin{% endblock %}

{% block body %}

    <div class="container">
        {{ include('menu/admin_menu.html.twig') }}
    </div>
    
{% endblock %}

